body{
    background-color: #3d3d3d;
}

.country-section{
    text-align: center;
    border: 1px solid tomato;
    margin: 10px;
    border-radius: 10px;
    color: white;
    padding: 10px;
    box-shadow: 1px 1px 10px lightgreen;
}

.country-section img{
    height: 80px;
    border-radius: 3px;
}

.add-btn{
    background-color: rgb(15, 89, 92);
    color: aliceblue;
    font-weight: bold;
    padding: 7px 20px;
    border: 1px solid grey;
    border-radius: 3px;
    cursor: pointer;
}